@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Roomvation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">

        <div class="masthead">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-3">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Roomvation", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("My reservations", "MyList", "Reservations", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @if (User.IsInRole("Administrators"))
                                {
                                    @Html.ActionLink("Admin panel", "Users", "Admin", null, new { @class = "nav-link" })
                                }
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Roomvation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
