@model IEnumerable<Roomvation.Models.Reservation>

@{
    ViewBag.Title = "MyList";
}

<h2>Your reservations @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-outline-success btn-lg" })</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" }) |
                @Html.ActionLink("Cancel", "Cancel", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }

</table>
